<div class="mainWrap">
  <app-main-tabs></app-main-tabs>
  <!--  inner tab  -->

  <div class="innerTab innerTab4">
    <div class="topPlate">
      <div class="singlePlate">
        <img src="../../../assets/images/closePlate.png" alt="alt" class="closePlate" />
        <div class="text">
          Добавлен новый KPI – <br />«Проверка полноты полки» >
        </div>
      </div>
      <div class="singlePlate">
        <img src="../../../assets/images/closePlate.png" alt="alt" class="closePlate" />
        <div class="text">
          Изменён вес показателя<br />«Федеральная акция» >
        </div>
      </div>
      <div class="singlePlate">
        <img src="../../../assets/images/closePlate.png" alt="alt" class="closePlate" />
        <div class="text">
          В показателе «Предложить сопутствующий товар»<br />использовать фразу
          «Попробуйте наш прекрасный<br />кофе» >
        </div>
      </div>
    </div>

    <div class="bottomPlate">
      <div class="selectWrap">
        <div class="singleSelect">
          <div class="inner">
            <img src="../../../assets/images/plusIcon.png" alt="alt" class="plus" />
            <div class="text">Заправщик</div>
          </div>
        </div>
        <div class="singleSelect">
          <div class="inner">
            <img src="../../../assets/images/minusIcon.png" alt="alt" class="plus" />
            <div class="text">Оператор</div>
          </div>
          <div class="selectDrop">
            <div class="dropItem dropItemActive">uHOT</div>
            <div class="dropItem">Безопасность</div>
            <div class="dropItem">TLAG</div>
            <div class="dropItem">МОшенничество с картой лояльности</div>
          </div>
        </div>
      </div>

      <div class="aboutTextWrap">
        <div class="title">uHOT 30%</div>

        <div class="subtitle">
          <img src="../../../assets/images/circle.png" alt="alt" />
          <div class="text">Установка визуального контакта 11,11%</div>
        </div>
        <div class="desc">
          Повернуться лицом к новому клиенту, установить визуальный контакт.
          Визуальный контакт устанавливается до или во время приветствия.
        </div>

        <div class="subtitle">
          <img src="../../../assets/images/circle.png" alt="alt" />
          <div class="text">Приветствие клиента 11,11%</div>
        </div>
        <div class="desc">
          Четко и громко поздороваться с клиентом. Запрещено использование
          приветствий: - "Здрассте" и "Здорово". Остальные фразы приветствия
          допустимы. Во избежание разночтений при оценке параметра просьба
          рекомендовать при приветствии клиента исключить слово "Здравствуйте" и
          использовать другие варианты приветствий.
        </div>

        <div class="subtitle">
          <img src="../../../assets/images/circle.png" alt="alt" />
          <div class="text">Федеральная акция 11,11%</div>
        </div>
        <div class="desc">
          Презентовать клиенту действующую федеральную акцию - рассказать
          параметры акции по принятому протоколу презентации. Акция Ducatti
          Период проведения акции: 17.06.19 - 08.09.19 Механика: за покупку 30
          литров Shell V-Power или 4-х бутылок воды deli by Shell клиент
          получает стикер. Собрав 3 стикера, клиент имеет возможность приобрести
          модель Ducati за 119 рублей. Протокол презентации акции (набор
          пунктов-маркеров, по принципу «Действие – Выгода» для клиента): 1.
          Озвучить количество литров фирменного топлива, за приобретение которых
          выдаются стикеры: при заправке клиентом более 30 литров SVP/SVPR/SVPD
          (фирменное топливо VPower / VPower Diesel, фирменное топливо Shell);
          2. Озвучить информацию о призовом фонде в возможных вариантах:
          моделька мотоцикла, моделька Ducati, игрушка, мотоцикл со скидкой,
          модель Ducati со скидкой, по спеццене и пр. За отсутствие презентации
          действующей акции, либо за отсутствие в презентации информации по
          одному из пунктов-маркеров - фиксируется нарушение. Не
          распространяется: - на коммерческих клиентов - на клиентов, говорящих
          ВСЮ консультацию по телефону; - при покупке клиентом только табачной
          продукции; - на "быстрых" клиентов. ("быстрый" клиент - это клиент,
          который без комментариев быстро оставляют денежные средства на
          кассовом прилавке только за заправку и сразу же покидает территорию
          магазина/АЗС, игнорируя предложения оператора); - если клиент
          игнорирует вопрос Оператора или при негативном ответе или грубой
          реакции клиента на поставленный вопрос, знает ли он про акцию; Не
          учитывается: 1. Если Оператор задал вопрос клиенту - знает ли тот о
          проводимой акции на Ducati, фирменное топливо, фирменную воду и клиент
          ответил: "Да"; 2. Если клиент сам передаёт Оператору карточку для
          наклеек.
        </div>

        <div class="subtitle">
          <img src="../../../assets/images/circle.png" alt="alt" />
          <div class="text">
            Озвучить клиенту вид топлива, количество литров 11,11%
          </div>
        </div>
        <div class="desc">
          Озвучить клиенту: вид топлива или количество литров. Для коммерческих
          клиентов дополнительно необходимо проговорить: - "Топливная карта",
          "Карта ЕвроШелл" и т.д. Не распространяется: - на клиентов говорящих
          всю консультацию по телефону; - при покупке клиентом товаров без
          заправки; - на "быстрых" клиентов. ("быстрый" клиент - это клиент,
          который без комментарий быстро оставляют денежные средства на кассовом
          прилавке только за заправку и сразу же покидает территорию
          магазина/АЗС, игнорируя предложения оператора)
        </div>

        <div class="subtitle">
          <img src="../../../assets/images/circle.png" alt="alt" />
          <div class="text">
            Предложить сопутствующий товар (кофе, закуски, и тд) 11,11%
          </div>
        </div>
        <div class="desc">
          Предложить клиенту любой сопутствующий товар к тому что клиент выбрал
          изначально, в т.ч. товар по акции. Предложение дополнительного товара
          должно быть предметным - необходимо проговорить название предлагаемого
          товара из ассортимента магазина/кафе. Не распространяется: - клиентов
          говорящих всю консультацию по телефону - на ""быстрых"" клиентов.
          (""быстрый"" клиент - это клиент, который без комментариев быстро
          оставляют денежные средства на кассовом прилавке только за заправку и
          сразу же покидает территорию магазина/АЗС, игнорируя предложения
          оператора)
        </div>

        <div class="subtitle">
          <img src="../../../assets/images/circle.png" alt="alt" />
          <div class="text">Озвучить сумму покупки 11,11%</div>
        </div>
        <div class="desc">
          Четко и ясно озвучить клиенту сумму сделки. При оплате заправки/товара
          баллами Shell ClubSmart необходимо озвучить клиенту сумму баллов,
          подлежащих к списанию. При частичной оплате транзакции: часть оплаты
          производится баллами, а часть рублями, Оператору необходимо озвучить
          клиенту как сумму списываемых баллов, так и остаточную сумму в
          денежном эквиваленте. Не распространяется: - клиентов иностранцев -
          клиентов говорящих всю консультацию по телефону - на клиентов
          заправляющихся топливными картами (коммерческие клиенты) - на
          "быстрых" клиентов. ("быстрый" клиент - это клиент, который без
          комментариев быстро оставляют денежные средства на кассовом прилавке
          только за заправку и сразу же покидает территорию магазина/АЗС,
          игнорируя предложения оператора)
        </div>

        <div class="subtitle">
          <img src="../../../assets/images/circle.png" alt="alt" />
          <div class="text">
            Спросить наличие карты лояльности или предложить оформить 11,11%
          </div>
        </div>
        <div class="desc">
          Выяснить у клиента наличие карты лояльности, в том числе электронной
          (установленного приложения в мобильном устройстве), если карты нет -
          предложить оформить. Распространяется при покупке клиентом только
          топлива и кофе. Карта лояльности – оператор может спрашивать карту
          разными словами просим учитывать как правильный ответ: - clubsmart, -
          наша карта, - карта лояльности, - шелловская карта и т.д. Предлагать
          оформить карту не обязательно в ситуациях: - клиент негативно
          реагирует, либо игнорирует предложение Оператора; Не распространяется:
          - на клиентов говорящих всю консультацию по телефону; - при покупке
          клиентом только табачной продукции; - на "быстрых" клиентов ("быстрый"
          клиент - это клиент, который без комментарий быстро оставляют денежные
          средства на кассовом прилавке только за заправку и сразу же покидает
          территорию магазина/АЗС, игнорируя предложения оператора)
        </div>
      </div>
    </div>
  </div>

  <!--  /inner tab  -->
</div>
