<div class="mainWrap">
  <app-main-tabs></app-main-tabs>
  <!--  inner tab  -->

  <div class="innerTab innerTab2">
    <div class="multiTabsWrap">
      <div class="multiTab">
        <div class="top">
          <img src="../../../assets/images/multiIco1.png" alt="alt" />
          <div class="text">Общий KPI</div>
        </div>

        <div class="progressBar">
          <div class="progress" style="width: 95%"></div>
        </div>

        <div class="numsWrap">
          <img src="../../../assets/images/redArrow.png" alt="alt" />
          <div class="num">95%</div>
        </div>
      </div>
      <div class="multiTab multiTabActive">
        <div class="top">
          <img src="../../../assets/images/multiIco2.png" alt="alt" />
          <div class="text">UHOT</div>
        </div>

        <div class="progressBar">
          <div class="progress" style="width: 95%"></div>
        </div>

        <div class="numsWrap">
          <img src="../../../assets/images/redArrow.png" alt="alt" />
          <div class="num">95%</div>
        </div>
      </div>
      <div class="multiTab">
        <div class="top">
          <img src="../../../assets/images/multiIco3.png" alt="alt" />
          <div class="text">Безопасность</div>
        </div>

        <div class="progressBar">
          <div class="progress" style="width: 95%"></div>
        </div>

        <div class="numsWrap">
          <img src="../../../assets/images/greenArrow.png" alt="alt" />
          <div class="num">95%</div>
        </div>
      </div>
      <div class="multiTab">
        <div class="top">
          <img src="../../../assets/images/multiIco4.png" alt="alt" />
          <div class="text">TLAG</div>
        </div>

        <div class="progressBar">
          <div class="progress" style="width: 100%"></div>
        </div>

        <div class="numsWrap">
          <div class="num">100%</div>
        </div>
      </div>
      <div class="multiTab">
        <div class="top">
          <img src="../../../assets/images/multiIco5.png" alt="alt" />
          <div class="text">мошенничество с картой лояльности</div>
        </div>

        <div class="progressBar">
          <div class="progress" style="width: 100%"></div>
        </div>

        <div class="numsWrap">
          <div class="num">100%</div>
        </div>
      </div>
      <div class="multiTab">
        <div class="top">
          <img src="../../../assets/images/multiIco6.png" alt="alt" />
          <div class="text">Ночная процедура</div>
        </div>

        <div class="progressBar">
          <div class="progress" style="width: 100%"></div>
        </div>

        <div class="numsWrap">
          <div class="num">100%</div>
        </div>
      </div>
    </div>

    <div class="multiInner">
      <div class="tableWrap">
        <div class="head">
          <div class="name">
            <img src="../../../assets/images/arrowLeft.png" alt="alt" />UHOT
          </div>

          <div class="filtersWrap">
            <div class="filter">
              <div class="value">Заправщик</div>
              <img src="../../../assets/images/filterArrow.png" alt="alt" />
            </div>
          </div>
        </div>

        <table>
          <tr>
            <td>Установка визуального контакта</td>
            <td>95%</td>
            <td>
              <img src="../../../assets/images/greenCurve.png" alt="alt" />
            </td>
          </tr>
          <tr>
            <td>Приветствие клиента</td>
            <td>95%</td>
            <td>
              <img src="../../../assets/images/greenCurve.png" alt="alt" />
            </td>
          </tr>
          <tr>
            <td>Федеральная акция</td>
            <td class="red">43%</td>
            <td>
              <img src="../../../assets/images/redCurve.png" alt="alt" />
            </td>
          </tr>
          <tr>
            <td>Озвучить клиенту вид топлива, количество литров</td>
            <td>95%</td>
            <td>
              <img src="../../../assets/images/greenCurve.png" alt="alt" />
            </td>
          </tr>
          <tr>
            <td>Предложить сопутствующий товар (кофе, закуски и т.д.)</td>
            <td class="blue">78%</td>
            <td>
              <img src="../../../assets/images/blueCurve.png" alt="alt" />
            </td>
          </tr>
          <tr>
            <td>Приветствие клиента</td>
            <td>95%</td>
            <td>
              <img src="../../../assets/images/greenCurve.png" alt="alt" />
            </td>
          </tr>
        </table>
      </div>

      <div class="curveWrap">
        <div class="title">График</div>
        <img src="../../../assets/images/bigCurve.png" alt="alt" />
        <div class="desc">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed metus
          lacinia, molestie felis sit amet, tristique nisl. Lorem ipsum dolor
          sit amet, consectetur adipiscing elit. Duis maximus tellus gravida
          massa condimentum, sit amet elementum orci dapibus.
        </div>
      </div>
    </div>
  </div>

  <!--  /inner tab  -->
</div>
