<!--  date inputs  -->

<div class="dateInputsWrap">
  <div class="dateInput">
    <div class="calendal">
      <img src="../../../assets/images/calendar.png" alt="alt" />
    </div>
    <input type="text" placeholder="25/06/2019" />
  </div>
  <div class="sep">—</div>
  <div class="dateInput">
    <div class="calendal">
      <img src="../../../assets/images/calendar.png" alt="alt" />
    </div>
    <input type="text" placeholder="25/06/2019" />
  </div>
</div>

<!--  /date inputs  -->

<!--  processed  -->

<div class="processedWrap">
  <img src="../../../assets/images/close.png" alt="aclt" class="close" />
  <img src="../../../assets/images/Report.png" alt="alt" class="decor" />
  <div class="text">Обработано 100% документов до <span>03.07.2019</span></div>
</div>

<!--  /processed  -->

<!--  main tabs  -->
<div class="mainTabs">
  <div class="tab" [routerLink]="['/manager/', 'manager1']" routerLinkActive="activeTab">
    <div class="tabHeader">
      <div class="imgHolder">
        <img src="../../../assets/images/video.png" alt="alt" />
      </div>
      <div class="text">Не просмотренные видео</div>
    </div>

    <div class="num">399</div>

    <div class="desc">Новых видео</div>
  </div>

  <div class="tab" [routerLink]="['/manager/', 'manager2']" routerLinkActive="activeTab">
    <div class="tabHeader">
      <div class="imgHolder">
        <img src="../../../assets/images/tabImg2.png" alt="alt" />
      </div>
      <div class="text">Статистика станции</div>
    </div>

    <div class="num">2,5%</div>

    <div class="desc">Изменения в рейтинге</div>
  </div>

  <div class="tab" [routerLink]="['/manager/', 'manager3']" routerLinkActive="activeTab">
    <div class="tabHeader">
      <div class="imgHolder">
        <img src="../../../assets/images/tabImg3.png" alt="alt" />
      </div>
      <div class="text">Рейтинг</div>
    </div>

    <div class="num">5<sup>+2</sup></div>

    <div class="desc">Изменения статистики</div>
  </div>

  <div class="tab" [routerLink]="['/manager/', 'manager4']" routerLinkActive="activeTab">
    <div class="tabHeader">
      <div class="imgHolder">
        <img src="../../../assets/images/tabImg4.png" alt="alt" />
      </div>
      <div class="text">Чеклист</div>
    </div>

    <div class="num">
      <img src="../../../assets/images/Report.png" alt="alt" />
    </div>

    <div class="desc">Есть изменеия в чеклисте</div>
  </div>
</div>
