<div class="singleVideo" *ngFor="let item of visibleVideos"> 
    <div class="videoWrap">
        <div class="videoHolder">
            <img src="../../../assets/images/videoPreview.png" alt="alt">
        </div>
        <div class="videoHolder">
            <img src="../../../assets/images/videoPreview.png" alt="alt">
        </div>
    </div>

    <div class="info">
        <div class="top">
            <div class="text">
                <div class="date">10.07.2019</div>
                <div class="name">Оператор Камера {{item.id}}</div>
            </div>

            <div class="favorite">
                <img src="../../../assets/images/star.png" alt="alt">
            </div>
        </div>

        <div class="bottom">
            <div class="column">
                <div class="item">
                    <div class="text">Приветствие клиента</div>
                    <img src="../../../assets/images/Message.png" alt="alt">
                </div>
                <div class="item">
                    <div class="text">Предложить карту лояльности</div>
                    <img src="../../../assets/images/Message.png" alt="alt">
                </div>
                <div class="item">
                    <div class="text">Региональная акция</div>
                    <img src="../../../assets/images/Message.png" alt="alt">
                </div>
            </div>
            <div class="column">
                <div class="item">
                    <div class="text">Приветствие клиента</div>
                    <img src="../../../assets/images/Message.png" alt="alt">
                </div>
                <div class="item">
                    <div class="text">Предложить карту лояльности</div>
                    <img src="../../../assets/images/Message.png" alt="alt">
                </div>
                <div class="item">
                    <div class="text">Региональная акция</div>
                    <img src="../../../assets/images/Message.png" alt="alt">
                </div>
            </div>
        </div>
    </div>
</div>