<div class="mainWrap">
  <app-main-tabs></app-main-tabs>
  <!--  inner tab  -->

  <div class="innerTab innerTab3">
    <div class="tableWrap">
      <div class="head">
        <div class="name">Статистика станций</div>
        <div class="filtersWrap">
          <div class="filter">
            <div class="value">KPI</div>
            <img src="../../../assets/images/filterArrow.png" alt="alt" />
          </div>
          <div class="filter">
            <div class="value">Оператор</div>
            <img src="../../../assets/images/filterArrow.png" alt="alt" />
          </div>
        </div>
      </div>

      <table>
        <tr>
          <td class="id">1</td>
          <td>
            <div class="graf">
              <img src="../../../assets/images/greenArrow.png" alt="alt" />
              <div class="num">8</div>
            </div>
          </td>
          <td>33086</td>
          <td>VOLCHANSKAYA</td>
          <td>
            <div class="perc">
              95%
              <div class="sup green">+4%</div>
            </div>
          </td>
        </tr>
        <tr>
          <td class="id">2</td>
          <td>
            <div class="graf">
              <img src="../../../assets/images/greenArrow.png" alt="alt" />
              <div class="num">8</div>
            </div>
          </td>
          <td>33086</td>
          <td>VOLCHANSKAYA</td>
          <td>
            <div class="perc">
              95%
              <div class="sup green">+4%</div>
            </div>
          </td>
        </tr>
        <tr>
          <td class="id">3</td>
          <td>
            <div class="graf">
              <div class="num">8</div>
              <img src="../../../assets/images/redArrow.png" alt="alt" />
            </div>
          </td>
          <td>33086</td>
          <td>VOLCHANSKAYA</td>
          <td>
            <div class="perc red">
              43%
              <div class="sup red">-4%</div>
            </div>
          </td>
        </tr>
        <tr>
          <td class="id">4</td>
          <td>
            <div class="graf">
              <div class="num">8</div>
              <img src="../../../assets/images/redArrow.png" alt="alt" />
            </div>
          </td>
          <td>33086</td>
          <td>VOLCHANSKAYA</td>
          <td>
            <div class="perc red">
              40%
              <div class="sup red">-4%</div>
            </div>
          </td>
        </tr>
      </table>
    </div>
    <div class="plateWrap">
      <div class="plate">
        <div class="center">
          5
          <div class="plus">+2</div>
        </div>
        <div class="bottom">место</div>
      </div>
      <div class="plate">
        <div class="center">1,5%</div>
        <div class="bottom">динамика</div>
      </div>
    </div>
  </div>

  <!--  /inner tab  -->
</div>
